<header class="header">  
  <section class="header__logo">
    <img class="header__logo__img" src="assets/main-images/LoginImage.png" width="20px" height="30px" alt="LoginImage">
    <h3 class="header__logo__title">Engage-IQ</h3>
  </section>
  <section class="header__title">
    <section class="header__title__userDetails">
      <img class="header__title__userDetails__img" src="{{GenderImagePath}}"/>
      <section class="header__title__userDetails__name">{{loggedInUserName}} ({{LoggedInUserRole}})</section>      
      <section class="header__title__userDetails__welcomeMessage">Hello, Welcome back!</section>     
    </section>
    <section class="header__title__companyDetails">
      <img src="/assets/main-images/DevonLogo.png" alt="" class="header__title__companyDetails__companyImage">
      <span class="header__title__companyDetails__logout">Last Logged in {{lastLoginTime}}</span>
    </section>
  </section>
</header>
