@use "../../../styles/typography.scss" as *;
@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;
@use "../../../styles/helpers.scss" as *;
@use "../../../styles/layouts.scss" as *;

.dashboard{
  .section__card{
    .card{
      @include grid-template-column(70% 30%);
      @include grid-template-row(1fr 1fr 1fr 1fr );
      @include grid-row-gap(0);
      @include grid-column-gap(0);
      *{
        font-family: $font-family-base-links;
        font-size: $font-size-smallText;
      }
      .title{
        font-size: $font-size-subText;
        font-weight: $font-weight-bold;
        @include grid-column(1,3);
      }
      .phrase{
        border-bottom: 1px solid $color-gray-darker;
        @include grid-column(1,3);
      }
      .role, .members{
        align-self: center;
      }
      .role{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .ikigai, .OnetoOneConnect, .members{
        @extend .flex-container, .space-between;
       .status{
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 1px solid $color-white;
          &.success{
            background-color: $color-success;
          }
          &.danger{
            background-color: $color-orange-red;
          }
       }
      }
      .members_count{
        margin-right: $spacing*0.25;
      }
    }
  }
  .section__dashboard__container{
    .dashboard{
        &__data{
          @extend .grid-container;
          @include grid-template-column(auto auto auto);
          @include grid-template-row(2rem);
          @include grid-column(1,3);
          @include grid-column-gap(0);
        }
        &__numbers{
          @extend .flex-container, .column;
          gap: 0;
          align-items: center;
          span{
            font-size: $font-size-heading;
            font-family: italiana;
            color: $color-bronze;
          }
        }
    }
  }
  .section__header{
    @extend.flex-container, .column, .center;
    *{
      padding: 0;
      margin: 0;
    }
    span{
      font-size: $font-size-subText;
      color: $text-color-light;
    }
  }
  .section__title{
    font-style: italic;
    font-weight: $font-weight-subText;
    color: $text-color-light;
    margin: 0;
    padding: 0;
  }
  .section__dashboard{
    @extend.text-shadow
  }
}