<section class="section dashboard">
  <section class="section__header">
    <h3>Your Teams - {{DisplayingMonthAndYear}}</h3>
    <span>Get a quick overview of Ikigai, 1:1 Connect and team progress</span>
  </section>
  <section class="section__dashboard__container">
    <section class="section__card">
      <h6 class="section__title">Quick Glance</h6>
      <section class="section__card__container">
        <section class="card card__1">
         <p class="card__section title">Overview</p>  
         <section class="card__section dashboard__data">
           <section class="dashboard__numbers">
              <p>Teams</p>
              <span>{{totalTeamCount}}</span>
           </section>
           <section class="dashboard__numbers">
              <p>Scrum Masters</p>
              <span>{{totalScrumMastersCount}}</span>
           </section>
           <section class="dashboard__numbers">
              <p>Team Members</p>
              <span>{{totalTeamMembersCount}}</span>
           </section>
         </section>    
        </section>
        <section class="card card__2">
          <p class="card__section title">IKIGAI Status</p>     
          <section class="card__section dashboard__data">
            <section class="dashboard__numbers">
               <p>Completed</p>
               <span>{{IKIGAICompletedTeamCount}}</span>
            </section>
            <section class="dashboard__numbers">
               <p>Pending</p>
               <span>{{IKIGAIPendingTeamsCount}}</span>
            </section>
          </section>  
        </section>
        <section class="card card__3">
          <p class="card__section title">One To One Status Placeholder</p>
        </section>
      </section>
    </section>
  </section>
  <section class="section__card">
    <h6 class="section__title">Teams</h6>   
    <section class="section__card__container">    
      @for (item of TeamsStatisticData(); track item.teamID) {
        <section class="card card__1">
          <p class="card__section title">{{item.teamName}}</p>
          @if (item !==undefined) {
            <p class="card__section phrase" >Placeholder for phrase</p>
          } 
          @else {
            <p class="card__section phrase">Placeholder for phrase</p>
          }
          <p class="card__section role" matTooltip={{item.teamSMName}} matTooltipPosition="above"><b>SM:</b> {{item.teamSMName}}</p>
          <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">{{item.totalTeamMembersCount}}</h6></section>
          <section class="card__section avatar__container collapse">
            @for (lst of item.teamMembersList; track lst.empID) {
              <img class="avatar" src={{lst.empPicture}} />           
            }         
          </section>
          <section class="card__section">
            <section class="ikigai">
              <h6>IKIGAI</h6>
              @if (item.ikigaiStatus) {
                <span class="status success"></span>
              } 
              @else {
                <span class="status danger"></span>
              }
            </section>
            <section  class="OnetoOneConnect">
              <h6>1:1</h6>
              @if(item.totalOnetoOneCompletedCount==item.totalTeamMembersCount) {
                <span class="status success"></span>
              }
              @else {
                <span class="status danger"></span>
              }
            </section>
           </section>        
        </section>
      }     
    </section>
  </section>
</section>

@if(this.showSnackbar){
  <app-snackbar SnackBarMessage={{snackbarMessge}} SnackBarType={{snackbarType}}
    (closeSnackBar)="CloseSnackBar()"></app-snackbar>
  }
  
  @if(this.loader){
  <app-loader></app-loader>
  }