<section class="section ikigai">
  <section class="section__header">
    <h3>Teams IKIGAI Progress- {{DataDisplayingMonth}}</h3>
    <span>Looking for past IKIGAI data? Check Timeline tab for details</span>
  </section>
  <section class="section__card">
    <h6 class="section__title">Teams</h6> 
    <section class="section__card__container">
      @for (item of TeamsStatisticData(); track item.teamID) {
        <section class="card card__1">
          <p class="card__section title">{{item.teamName}}</p>
          @if (item !==undefined) {
            <p class="card__section phrase">Placeholder for catchphrase</p>
          } 
          @else {
            <p class="card__section phrase">Placeholder for catchphrase</p>
          }
          <p class="card__section role" matTooltip={{item.teamSMName}} matTooltipPosition="above"><b>SM:</b> {{item.teamSMName}}</p>
          <section class="card__section members"><h6>Members:</h6> <h6 class="members_count">{{item.totalTeamMembersCount}}</h6></section>
          <section class="card__section avatar__container collapse">
            @for (lst of item.teamMembersList; track lst.empID) {
            <img class="avatar" src={{lst.empPicture}} />
            }
          </section>
          <section class="card__section actions">
            @if(item.ikigaiStatus){
              <button class="view" (click)="redirectToIkigaiPage(item.teamID,item.teamName)">View</button>
            }
            @else {
              <button class="start primary" (click)="redirectToIkigaiPage(item.teamID,item.teamName)">
                Start
              </button>
            }
          </section>
        </section>
      }
    </section>
  </section>
</section>

@if(this.showSnackbar){
<app-snackbar SnackBarMessage={{snackbarMessge}} SnackBarType={{snackbarType}}
  (closeSnackBar)="CloseSnackBar()"></app-snackbar>
}

@if(this.loader){
<app-loader></app-loader>
}