<nav>
  <section *ngFor="let menu of sideNavMenus()" class="sideNavSection">

    <!-- Main Menu (If navigationPath is defined) -->
    <a *ngIf="menu.navigationPath" class="sideNavSection__mainMenu" [routerLink]="menu.navigationPath"
      routerLinkActive="active">
      <img src="assets/main-images/loaderIcon.svg" alt="Loader Icon" />
      <h6>{{ menu.menuName }}</h6>
    </a>

    <!-- Submenu Section -->
    <section *ngIf="menu.subMenus?.length" class="sideNavSection__subMenu__header">
      <img src="assets/main-images/loaderIcon.svg" alt="Loader Icon" />
      <h6>{{ menu.menuName }}</h6>
    </section>
    <a *ngFor="let subMenu of menu.subMenus" class="sideNavSection__subMenu" [routerLink]="subMenu.navigationPath"
      routerLinkActive="active">
      {{ subMenu.subMenuName }}
    </a>
  </section>
  @if(showDocumentationMenu)
  {
  <section class="sideNavSection">
    <h6 class="sideNavSection__header">DOCUMENTATION</h6>
    <section class="sideNavSection__subMenu__header">
      <img src="assets/main-images/loaderIcon.svg" alt="Loader Icon">
      <h6>Dev Documentation</h6>
    </section>
    <a routerLink="style-guide" class="sideNavSection__subMenu">Guidelines</a>
    <a routerLink="architechture-guide" class="sideNavSection__subMenu">Coding Standards</a>
    <a routerLink="layout-models" class="sideNavSection__subMenu">Examples</a>
  </section>
  }

  <!-- Footer Section -->
  <section class="sideNavSection footer flex-child grow">
    <a class="sideNavSection__mainMenu" routerLink="login" (click)="logoutFunction()">
      <img src="assets/main-images/LogoutIcon.svg" alt="Logout Icon" />
      <h6>Logout</h6>
    </a>
    <span class="sideNavSection__appVersion">App Version 1.0</span>
  </section>
</nav>